/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/devdocs/*
/app/config/config.yml
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
