{% extends  "::base.html.twig" %}

{% block content %}

<div class="row">
        <div class="col-xs-2">
            <ul class="doc-toc">
            {% for heading in headings %}
                <li><a href="#{{ heading.slug}}" class="{{ heading.class }}">{{ heading.text }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-xs-10">
            {{ html|raw }}
        </div>
</div>

{% endblock content %}
