{% extends  "::base.html.twig" %}

{% block content %}

<div class="row">
        <div class="col-xs-3">
            <ul class="doc-toc sticky">
            {% for heading in headings %}
                <li><a href="#{{ heading.slug}}" class="{{ heading.class }}">{{ heading.text }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="devdoc col-xs-9">
            {{ html|raw }}
        </div>
</div>

{% endblock content %}
