{% extends  "::base.html.twig" %}

{% block content %}

    {% if server %}
        <!-- info boxes -->
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="info-box info-box-cpu">
                    <span class="info-box-cpu-icon info-box-icon glyphicon glyphicon-refresh glyphicon-refresh-animate"><i class="fa"></i></span>
                    <div class="info-box-content">
                        <div class="info-box-text">Cores : <span class="cpu-count"></span></div>
                        <div class="info-box-number">Cores used : <span class="cpu-cores-percent-used"></span>%</div>
                        <div class="info-box-number">Load (1min) : <span class="cpu-load-min1"></span></div>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="info-box info-box-memory-swap">
                    <span class="info-box-memory-swap-icon info-box-icon glyphicon glyphicon-refresh glyphicon-refresh-animate"><i class="fa"></i></span>
                    <div class="info-box-content">
                        <div class="info-box-text">SWAP</div>
                        <div class="info-box-number">Used : <span class="memory-swap-percent-used"></span>%</div>
                        <div class="info-box-number">Total : <span class="memory-swap-total"></span></div>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="info-box info-box-disk">
                    <span class="info-box-disk-icon info-box-icon glyphicon glyphicon-refresh glyphicon-refresh-animate"><i class="fa"></i></span>
                    <div class="info-box-content">
                        <div class="info-box-text">Disks</div>
                        <div class="info-box-number">Used : <span class="disk-percent-used"></span>%</div>
                        <div class="info-box-number">Total : <span class="disk-total"></span></div>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div>
        </div>
        <!-- server details -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Network</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>IP</th>
                                    <th>Hostname</th>
                                </tr>
                                <tr>
                                    <td>{{ server.ip }}</td>
                                    <td>{{ server.name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
        <!-- graphs container -->                   
        <div class="row graphs-container">
            <div class="col-xs-12">
                <!-- cores graphs -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-solid">
                            <div class="box-header">
                                <h3 class="box-title">Cores</h3>
                            </div>
                            <div class="box-body">
                                <div id="cpu-container"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                            </div><!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <!-- memory graphs -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-solid">
                            <div class="box-header">
                                <h3 class="box-title">Memory</h3>
                            </div>
                            <div class="box-body">
                                <div id="memory-container"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                            </div><!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <!-- processes graphs -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-solid">
                            <div class="box-header">
                                <h3 class="box-title">Processes</h3>
                            </div>
                            <div class="box-body">
                                <div id="process-container"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                            </div><!-- /.box-body -->
                        </div>
                    </div>
                </div>
                 <!-- swap graphs -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-solid">
                            <div class="box-header">
                                <h3 class="box-title">Swap</h3>
                            </div>
                            <div class="box-body">
                                <div id="swap-container"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                            </div><!-- /.box-body -->
                        </div>
                    </div>
                </div>
                 <!-- disks graphs -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-solid">
                            <div class="box-header">
                                <h3 class="box-title">Disks</h3>
                            </div>
                            <div class="box-body">
                                <div id="disk-container"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                            </div><!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="server-uid" class="hidden">{{ server.uid }}</div>

    {% else %}
        <div class="callout callout-info">
            <h4>No data!</h4>
            <p>There is no data for this server yet. <br> Pease check that te IP is correct</p>
        </div>
    {% endif %}

{% endblock content %}
