{% extends  "::base.html.twig" %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody><tr>
                        <th>IP</th>
                        <th>Name</th>
                        <th>OS</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>{{ server.ip }}</td>
                        <td>{{ server.name }}</td>
                        <td>{{ server.os }}</td>
                        <td><span class="label label-success">Online</span></td>
                    </tr>
                    </tbody></table>
            </div><!-- /.box-body -->
        </div>
    </div>
</div>

{% endblock content %}