.devdoc h1
{
    padding-top: 100px;
}
.devdoc h2{
    padding-top: 50px;
}
.devdoc h3
{
    padding-top: 20px;
}

.devdoc h2,
.devdoc h3
{
    border-top: 1px solid #ccc;
}

ul.doc-toc {
    padding: 0;
}

ul.doc-toc li {
    list-style-type: none;
}

ul.doc-toc li .h1,
ul.doc-toc li .h2,
ul.doc-toc li .h3 {
    color: #3c8dbc;
}

ul.doc-toc li .h1 {
    font-size: 16px;
}

ul.doc-toc li .h2 {
    margin-left: 10px;
    font-size: 14px;
}

ul.doc-toc li .h3 {
    margin-left: 20px;
    font-size: 12px;
}